@import "~style/_root";

#app-layout{
    display: flex;
    padding-top: $header-size;
    height: 100vh;

    &__main {
        flex: 1;
        background:#fff;
        margin:$layout-margin;
    }
}