@import "~style/_root";

.app-layout{
    display: flex;
    padding-top: $header-size;
    background:$layout-bg;
    min-height: 100vh;

    &__main {
        flex: 1;
        margin:$layout-margin;
    }
}