@import '~style/_root';

.app-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    height: $header-size;
    display: flex;
    align-items: center;
    justify-content:center ;
    z-index:99;
    transition: 0.3s;
    background: $header-bg;
    
    &--scroll{
        background: #d1d2e7;
    }


    &__link{
        display: inline-block;
        margin: 12px;
        font-size: 24px;
        color: #605f85;

        &:focus{
            color:  #7876b8;
        }
    }



    &__user{
        font-size: 24px;
        color: #000;
    }
}