@import '~style/_root';

.app-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    height: $header-size;
    display: flex;
    align-items: center;
    justify-content:center ;
    z-index:99;

    &__link{
        display: inline-block;
        margin: 12px;
        font-size: 24px;
        color: #333;

        &:focus{
            color: #000;
        }
    }
}